body {
  background: #005b96;
  font-family: 'Roboto';
  background-image: url("../img/wall.png");
  background-size: cover;
}

#container {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  width: 360px;
  background: #b3cde0;
  margin: 100px auto;
}

.completed {
  color: green;
  text-decoration: line-through;
}

h1 {
  background: #03396c;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: #6497b1;
  height: 40px;
  line-height: 40px;
  color: #444;
}

li:nth-child(2n) {
  background: #b3cde0;
}

input {
  font-size: 18px;
  background: #b3cde0;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  color: #2980b9;
  border: 3px solid rgba(0, 0, 0, 0);
}

input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

.fa-plus {
  float: right;
}

span {
  background: #ff0000;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: white;
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0;
}

li:hover span {
  width: 40px;
  opacity: 1;
}
